# Day3

In [1]:
course_name = 'Data Science Masters 2.0'

In [2]:
course_name.upper()

'DATA SCIENCE MASTERS 2.0'

In [3]:
course_name.capitalize()

'Data science masters 2.0'

In [4]:
course_name.lower()

'data science masters 2.0'

In [6]:
course_name.swapcase()

'dATA sCIENCE mASTERS 2.0'

In [7]:
course_name.split(" ")

['Data', 'Science', 'Masters', '2.0']

In [8]:
course_name.split("s")

['Data Science Ma', 'ter', ' 2.0']

In [9]:
course_name.partition('s')

('Data Science Ma', 's', 'ters 2.0')

In [10]:
course_name.title()

'Data Science Masters 2.0'

In [11]:
course_name.capitalize()

'Data science masters 2.0'

> The main difference between title() and capitalize() is title() makes first letter of every word in that string to capital and
capitalize() makes only the first letter of first word or the word present at the starting capital

In [12]:
reversed(course_name)

In [14]:
a = reversed(course_name)

In [15]:
print(a)

<reversed object at 0x000002C962011EA0>

In [16]:
' '.join(reversed(course_name))

'0 . 2   s r e t s a M   e c n e i c S   a t a D'

In [17]:
''.join(reversed(course_name))

'0.2 sretsaM ecneicS ataD'

In [18]:
'Data'.join('Science')

'SDatacDataiDataeDatanDatacDatae'

In [19]:
" ".join('abcd')

'a b c d'

In [20]:
list(reversed('PWSKILLS'))

['S', 'L', 'L', 'I', 'K', 'S', 'W', 'P']

In [21]:
list('PWSKILLS')

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [22]:
str1 = " pwskills "

In [23]:
str1.strip(' ')

'pwskills'

In [26]:
str1.strip('l')

' pwskills '

In [25]:
str1.lstrip(' ') # Removes left whitespace if any

'pwskills '

In [27]:
str1.rstrip(' ') # Removes right whitespace if any

' pwskills'

In [37]:
str2 = "Greeting to PWSkills"
str2c = str2.replace('to','from')
print(f"The corrected string is {str2c}")

The corrected string is Greeting from PWSkills

In [31]:
str3 = "It is to sure to my sister"
str3.replace('to','for')

'It is for sure for my sister'

In [34]:
str3 = "It is for sure to my sister"
str3.replace('to','for',2) # Only second for is replaced here because we mentioned here count = 2

'It is for sure for my sister'

In [35]:
str4 = "Sy name is ABC"
str4.replace('S','M')

'My name is ABC'

In [36]:
str4

'Sy name is ABC'

## It only returns copy, the original one remains as it is

In [39]:
print(id(str2))
print(id(str2c))

3063981866592
3063935680096

In [41]:
str5 = 'pwskills#gmail.com'
str5c = str5.replace('#','@')
print("The corrected mail is {}".format(str5c))

The corrected mail is pwskills@gmail.com

In [42]:
'table\tchair'

'table\tchair'

In [43]:
'table\tchair'.expandtabs()

'table   chair'

In [52]:
strr = "Hello"

In [54]:
strr.center(10)

'  Hello   '

In [63]:
str1 = "Welcome to pwskills.Welcome to Dat cience Masters"

In [64]:
str1 = str1.replace('Dat','Data').replace('cience','Science')

In [65]:
print(str1)

Welcome to pwskills.Welcome to Data Science Masters

In [66]:
str1 = 'pwskills'

In [67]:
str1.isupper()

False

In [69]:
str1.islower()

True

In [70]:
str1.isspace()

False

In [71]:
" ".isspace()

True

In [72]:
if str1.isspace():
    print("hello")
else : print('Hello World')

Hello World

In [76]:
if str1.isspace() == False:
    str1 = str1.replace('pw','PW')
    print(str1)

PWskills

In [77]:
str1.endswith('s')

True

In [78]:
str1.endswith('\n')

False

In [82]:
stra = "Hello123 \t"
if stra.endswith('\t') and stra.startswith('H'):
    print("Success")

Success

In [83]:
stra.isalnum()

False

In [86]:
strb = 'Hello1234'
strb.isalnum()

True

> To count the length of a string the user defined function is as follows :

In [89]:
count = 0
for i in strb:
    count = count+1
print("Length of string {} identified by user defined function is {}".format(strb,count))

Length of string Hello1234 identified by user defined function is 9

In [90]:
len(strb)

9

In [91]:
for i in strb:
    print(i)

H
e
l
l
o
1
2
3
4

In [92]:
for i in range(len(strb)):
    print(strb[i])

H
e
l
l
o
1
2
3
4

In [93]:
range(len(strb))

range(0, 9)

In [94]:
for i in range(len(strb)):
    print(i,'=',strb[i])

0 = H
1 = e
2 = l
3 = l
4 = o
5 = 1
6 = 2
7 = 3
8 = 4

In [100]:
for i in range(len(strb)):
    print(f"str[{i}]",'=',strb[i])

str[0] = H
str[1] = e
str[2] = l
str[3] = l
str[4] = o
str[5] = 1
str[6] = 2
str[7] = 3
str[8] = 4

In [108]:
# We can use index to iterate string in reverse direction 
for i in range(len(strb)-1,-1,-1):
    print(f"str[{i}]",'=',strb[i]) # With for loop

str[8] = 4
str[7] = 3
str[6] = 2
str[5] = 1
str[4] = o
str[3] = l
str[2] = l
str[1] = e
str[0] = H

In [110]:
len(strb)-1

8

In [113]:
# We can use index to iterate string in reverse direction but now using while loop 
string = 'pwskills'
ch = len(string)-1
while ch>=0:
    print(f"str[{ch}]","=",string[ch])
    ch = ch-1

str[7] = s
str[6] = l
str[5] = l
str[4] = i
str[3] = k
str[2] = s
str[1] = w
str[0] = p

In [121]:
# endswith('s')
string = 'pwskills'
for i in range(len(string)-1,-1,-1):
    if string[i] == "s":
        print("String ends with 's' ")
        break

String ends with 's'

In [120]:
string = "Data Science"
for i in range(len(string)-1,-1,-1):
    if string[i] == 'e':
        print("String ends with e")
        break

String ends with e

In [122]:
string[7],string[6],string[5]

('s', 'l', 'l')

In [123]:
ch = len(string)-1
while ch>=0:
    print(string[ch])
    ch = ch-1

s
l
l
i
k
s
w
p

In [124]:
len(string)

8

In [127]:
string = 'pwskills'
for i in range(len(string)):
    print(string[len(string) - (i+1)],end = "")

sllikswp

In [131]:
Name = "pwskills"
vowels = "AaEeIiOoUu"
'''for i in range(len(Name)):
    if Name[i] == vowels[i]:
        print(string[i])'''

'for i in range(len(Name)):\n    if Name[i] == vowels[i]:\n        print(string[i])'

In [135]:
for character in Name:
    if character in vowels:
        print("{} is a vowel".format(character))
    else : 
        print("{} is not a vowel".format(character))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

# List

In [136]:
type([])

list

## List 
>If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
1. iterable --> string,list
2. List constructor --> list()

In [137]:
str1

'PWskills'

In [138]:
list(str1)

['P', 'W', 's', 'k', 'i', 'l', 'l', 's']

In [139]:
str1 = "PW Skills Data Science Masters 2.0"

In [144]:
list1 = str1.split(" ")

In [141]:
list(str1.split(" "))

['PW', 'Skills', 'Data', 'Science', 'Masters', '2.0']

> Return type of split function used in string is "list"

In [145]:
list1[1:]

['Skills', 'Data', 'Science', 'Masters', '2.0']

In [147]:
list1[0] = 'pw'

In [148]:
list1

['pw', 'Skills', 'Data', 'Science', 'Masters', '2.0']

In [150]:
list1[0] = 'PW'

In [151]:
print(list1)

['PW', 'Skills', 'Data', 'Science', 'Masters', '2.0']

In [154]:
for char in list1:
    if char == 'Science':
        print("Present")
        break

Present

In [156]:
list1 + list1

['PW',
 'Skills',
 'Data',
 'Science',
 'Masters',
 '2.0',
 'PW',
 'Skills',
 'Data',
 'Science',
 'Masters',
 '2.0']

In [158]:
list1 *2

['PW',
 'Skills',
 'Data',
 'Science',
 'Masters',
 '2.0',
 'PW',
 'Skills',
 'Data',
 'Science',
 'Masters',
 '2.0']

In [159]:
print(max(list1))

Skills

In [160]:
print(list1)

['PW', 'Skills', 'Data', 'Science', 'Masters', '2.0']

In [161]:
print(min(list1))

2.0

In [162]:
removed_element = list1.pop()
removed_element

'2.0'

In [168]:
list1

['2.0', 'Data', 'Masters', 'PW', 'Science', 'Skills']

In [164]:
list1.append(removed_element)

In [165]:
print(list1)

['PW', 'Skills', 'Data', 'Science', 'Masters', '2.0']

In [167]:
list1.sort()

list1

In [169]:
list1

['2.0', 'Data', 'Masters', 'PW', 'Science', 'Skills']

In [170]:
list1.sort(reverse=True)

In [171]:
list1

['Skills', 'Science', 'PW', 'Masters', 'Data', '2.0']

In [176]:
# Summesion of even and odd number
lst = [1,2,3,4,5,6,7,8]
even_sum = 0
odd_sum = 0
for i in range(len(lst)+1):
    if i%2 == 0:
        even_sum += i
    else:
        odd_sum += i
print("Sum of even numbers and odd numbers in a list is {} and {} respectively".format(even_sum,odd_sum))

Sum of even numbers and odd numbers in a list is 20 and 16 respectively

In [184]:
even_sum = sum([num for num in lst if num%2==0])
even_sum

20

In [187]:
odd_sum = sum([num for num in lst if num%2!=0])
odd_sum

16

In [201]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst_appended_items = []
for num in lst:
    num = num**2 
    lst_appended_items.append(num)
    
print(lst_appended_items)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [197]:
[num**2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [198]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [213]:
# Create a list of only positive number from a given list
lsta = [-2,-1,0,1,2,3,4]
for num in lsta:
    if num>0:
        print(num,end=" ")

1 2 3 4

In [211]:
[num for num in lsta if num>0]

[1, 2, 3, 4]

In [217]:
# Create a list of only first letters of the word in a list
words = ['apple','banana','cherry','dates']
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [218]:
# Create a list of only first letters of the word in a list
words = ['apple','banana','cherry','dates']
[word[-1] for word in words]

['e', 'a', 'y', 's']

## Temp to Fahrenheit formula
>(9/5)*temp+32

In [224]:
# Convert a list of temperature from Celcius to Fahrenheit using list comprehension
celcius_temperature = [0,10,20,30,40,50]
[((9/5)*temp +32) for temp in celcius_temperature]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [225]:
# Convert a list of temperature from Celcius to Fahrenheit using list comprehension
celcius_temperature = [0,10,20,30,40,50]
[int((9/5)*temp +32) for temp in celcius_temperature]

[32, 50, 68, 86, 104, 122]

In [234]:
# Flatten a lsit of lists into a single list
lists = [[1,2,3],[4,5,6],[7,8,9]]
[num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Create a list of only the prime numbers in a given list
# Using both code and list comprehension
lst = [1,2,3,4,5,6,7,8,9,10]
for num in lst:

In [ ]:
# Create a list of all possible combinations of 2 elements from a list
lst = [1,2,3,4,5]

In [236]:
# AI is something which performs tasks without human intervention

1. Supervised Learning --> has output label
2. Unsupervised learning --> do not have output label 
3. Reinforcement learning --> machine learns by itself
> e.g. You are said that if you top in 10th class, you will get a surprise gift. So, for that you will try to acheive it by giving your best.