# Dictionary

In [1]:
type({})

dict

In [2]:
dict1 = {'name':'ABC','age':20,'Marital Status': 'Unmarried'}
print(dict1)

{'name': 'ABC', 'age': 20, 'Marital Status': 'Unmarried'}

> collection of key-value pairs enclosed in curly bracket

In [3]:
dict2 = {'age' : 20,'age':21}

In [5]:
print(dict2) # If the same keys are present, automatically hte key has been updated with the next value and it will give output the next value

{'age': 21}

> Key can be int,float,string,boolean value but it can't be a special symbol

> List,set,dict cannot be taken as key but the tuple can because list,set and dictionary are unhashable type of object i.e. the compiler is not able to create an hash object of it

In [6]:
d1 = {'course_names':['C','C++','Java','Python']}
print(d1)

{'course_names': ['C', 'C++', 'Java', 'Python']}

> The value could be any data structure like list,tuple,set and also dictionary

In [22]:
d2 = {'personal_details': {'name': 'ABC','age': 22,'Undergraduate': 'No'}} # Nested dictionary
print(d2)

{'personal_details': {'name': 'ABC', 'age': 22, 'Undergraduate': 'No'}}

In [12]:
d2['age'] = [1,2,3,4,5,6,7,8,9,10]

In [13]:
print(d2)

{'personal_details': {'name': 'ABC', 'age': 22, 'Undergraduate': 'No'}, 'age': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [14]:
d2['age'] # Similar to indexing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
d2['age'] = 100

In [16]:
print(d2)

{'personal_details': {'name': 'ABC', 'age': 22, 'Undergraduate': 'No'}, 'age': 100}

In [18]:
d2['personal_details'] = 'Data Science Masters 2.0'

In [19]:
print(d2)

{'personal_details': 'Data Science Masters 2.0', 'age': 100}

In [20]:
d2['personal_details'].upper()

'DATA SCIENCE MASTERS 2.0'

In [21]:
d2

{'personal_details': 'Data Science Masters 2.0', 'age': 100}

In [23]:
d2['personal_details']['name']

'ABC'

In [24]:
del d2['personal_details']['age']

In [25]:
print(d2)

{'personal_details': {'name': 'ABC', 'Undergraduate': 'No'}}

In [26]:
len(d2)

1

In [27]:
d2.get('name')

In [28]:
print(d2)

{'personal_details': {'name': 'ABC', 'Undergraduate': 'No'}}

In [31]:
d2.get('personal_details')

{'name': 'ABC', 'Undergraduate': 'No'}

> get will never give you an error, althought the key is not present in that particular dictionary, it returns None but it will throw an error. So, we can say that the use of get function is more preferred rathaer than using direct method such as dict1['key']

In [32]:
d2.keys()

dict_keys(['personal_details'])

In [33]:
print(d2.keys())

dict_keys(['personal_details'])

In [34]:
d2.values()

dict_values([{'name': 'ABC', 'Undergraduate': 'No'}])

In [35]:
list(d2.values())

[{'name': 'ABC', 'Undergraduate': 'No'}]

In [36]:
d2.items()

dict_items([('personal_details', {'name': 'ABC', 'Undergraduate': 'No'})])

In [37]:
d2 = {'course_name':'Data Science Masters 2.0','start_month':"June",'start_yr':2023}

In [38]:
print(d2)

{'course_name': 'Data Science Masters 2.0', 'start_month': 'June', 'start_yr': 2023}

In [39]:
print(d2.keys())

dict_keys(['course_name', 'start_month', 'start_yr'])

In [40]:
list(d2.keys())

['course_name', 'start_month', 'start_yr']

In [41]:
dict(d2.keys())

ValueError: dictionary update sequence element #0 has length 11; 2 is required

In [42]:
print(d2.values())

dict_values(['Data Science Masters 2.0', 'June', 2023])

In [43]:
print(d2.items())

dict_items([('course_name', 'Data Science Masters 2.0'), ('start_month', 'June'), ('start_yr', 2023)])

1. deep copy (with '.copy()')
2. shallow copy

In [45]:
d2.pop('start_yr') # in-place operation

2023

In [46]:
print(d2)

{'course_name': 'Data Science Masters 2.0', 'start_month': 'June'}

In [48]:
dict1.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [49]:
d19 = {'key1': 'value1','key2': 'value2'}
d20 = {'key3': 'value3','key4': 'value4'}

In [50]:
# Dictionaries inside a tuple is possible 
print((d19,d20))

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [51]:
# Dictionaries inside a list is possible
print([d19,d20])

[{'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'}]

In [54]:
print('Hello World')

Hello World

In [55]:
d19.update(d20) # in-place

In [56]:
print(d19)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [60]:
d19.setdefault('key3')

'value3'

In [61]:
print(d19)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

### Dictionary Comprehension

In [64]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [63]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
{i : i**3 for i in range(1,21)}

{1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 12: 1728,
 13: 2197,
 14: 2744,
 15: 3375,
 16: 4096,
 17: 4913,
 18: 5832,
 19: 6859,
 20: 8000}

In [76]:
import math
d21 = {i : math.log10(i) for i in range(1,11)}

In [75]:
import math 

def log_value():
    num = int(input("Enter a number to get its equivalent logarithmic value : "))
    log_num = math.log10(num)
    return log_num
log_value()

Enter a number to get its equivalent logarithmic value : 2

0.3010299956639812

In [77]:
print(d21)

{1: 0.0, 2: 0.3010299956639812, 3: 0.47712125471966244, 4: 0.6020599913279624, 5: 0.6989700043360189, 6: 0.7781512503836436, 7: 0.8450980400142568, 8: 0.9030899869919435, 9: 0.9542425094393249, 10: 1.0}

In [78]:
1 in d21

True

In [79]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [81]:
for i in d21.keys():
    if i%2==0:
        print('Value of even key {} is {}'.format(i,d21[i]))

Value of even key 2 is 0.3010299956639812
Value of even key 4 is 0.6020599913279624
Value of even key 6 is 0.7781512503836436
Value of even key 8 is 0.9030899869919435
Value of even key 10 is 1.0

In [82]:
d21.items()

dict_items([(1, 0.0), (2, 0.3010299956639812), (3, 0.47712125471966244), (4, 0.6020599913279624), (5, 0.6989700043360189), (6, 0.7781512503836436), (7, 0.8450980400142568), (8, 0.9030899869919435), (9, 0.9542425094393249), (10, 1.0)])