#  Functions

In [2]:
def test():
    pass

> The keyword cannot be a function name

In [3]:
def test1():
    print("This is my very very first function")

In [4]:
test1()

This is my very very first function

In [6]:
test1() + 'sudh'

This is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
def test2():
    return 'this is my first function with return'

In [8]:
test2()

'this is my first function with return'

In [10]:
test2()+' sudh'

'this is my first function with return sudh'

In [11]:
def test3():
    return 1,4,'pwdkills',34.56

In [14]:
type(test3)

function

In [15]:
a,b,c,d = 1,2,3,4

In [17]:
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [12]:
test3()

(1, 4, 'pwdkills', 34.56)

> Always the function returns using return statement, the tuple if there are multiple data present

In [19]:
test3()[0]

1

In [21]:
a,b,c,d = test3()

In [22]:
print(a,b,c,d)

1 4 pwdkills 34.56

In [23]:
def test4():
    a = 3*4+5
    return a

In [24]:
test4()

17

In [25]:
type(test4())

int

In [26]:
def test5(a,b):
    c = a+b
    return c

In [27]:
test5(12,8)

20

In [28]:
test5('PW','Skills')

'PWSkills'

In [29]:
test5([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
test5(b = 'skills',a = 'pw')

'pwskills'

In [32]:
l = [1,2,3,4,5,'sudh','pwskills',[1,2,3,44,45]]

In [35]:
# Create a function which will take list as an input and give me a final list with all the numeric values
def num_lst(lst):
    final_lst = []
    for element in lst:
        if type(element) == int or type(element) == float:
            final_lst.append(element)
    return final_lst

In [36]:
num_lst(l)

[1, 2, 3, 4, 5]

In [13]:
l = [1,2,3,4,5,'sudh','pwskills',[1,2,3,44,45],3.14,34.56]

In [14]:
# Create a function which will take list as an input and give me a final list with all the numeric values

In [15]:
# Definition of function
def num_lst(lst):
    final_list = []
    for element in lst:
        if type(element) == int or type(element) == float:
            final_list.append(element)
    return final_list

In [16]:
num_lst(l)

[1, 2, 3, 4, 5, 3.14, 34.56]

In [27]:
# Definition of function
def num_lst(lst):
    final_list = []
    for element in lst:
        if type(element) == list:
            for sub_element in element:
                if type(sub_element) == int or type(sub_element) == float:
                    final_list.append(sub_element)
        else : 
            if type(element) == int or type(element) == float:
                final_list.append(element)
    return final_list

In [28]:
num_lst(l)

[1, 2, 3, 4, 5, 1, 2, 3, 44, 45, 3.14, 34.56]

In [31]:
def test(a,b,c,d,e):
    pass

In [32]:
test(1,3,4,6,7)

In [33]:
test(1,2,3,4,5,6,7)

TypeError: test() takes 5 positional arguments but 7 were given

In [34]:
def test1(*args):
    return args

In [35]:
test1(2,3,4.5,5,6,7,8,9,23,45)

(2, 3, 4.5, 5, 6, 7, 8, 9, 23, 45)

In [36]:
test1(2)

(2,)

In [37]:
test1('pwskills',[1,2,3,4,5,6],('pw','skills'),24.56,45,67,{'name':'ABC'},{1,2,3,4})

('pwskills',
 [1, 2, 3, 4, 5, 6],
 ('pw', 'skills'),
 24.56,
 45,
 67,
 {'name': 'ABC'},
 {1, 2, 3, 4})

> Not compulsory to write *args, we can assign it any instead of "args"

In [38]:
def test2(*pwskills):
    return pwskills

In [39]:
test2('pwskills',2,3,4,5,6)

('pwskills', 2, 3, 4, 5, 6)

In [40]:
def test3(*args,additional):
    return args,additional

In [41]:
test3(1,2,3,4)

TypeError: test3() missing 1 required keyword-only argument: 'additional'

In [42]:
test3(1,2,3,4,additional = 'pwskills')

((1, 2, 3, 4), 'pwskills')

In [66]:
# Create a function that only will accept list
def test6(*args):
    lst = []
    tup = []
    dict1 = []
    set1 = []
    remained = []
    for element in args:
        if type(element) == list:
            lst.append(element)
        elif type(element) == tuple:
            tup.append(element)
        elif type(element) == dict:
            dict1.append(element)
        elif type(element) == set:
            set1.append(element)
        elif type(element) == int or type(element) == float or type(element) == str or type(element) == bool or type(element) == complex : 
            remained.append(element)
    return lst,tup,dict1,set1,remained

In [67]:
test6('a','b','pwskills',[1,2,3,4],(1,2,34,4),{1,2,3,5},{1:'a',2:'b'},22,3,4,3.14,6.67,True,2+7j)

([[1, 2, 3, 4]],
 [(1, 2, 34, 4)],
 [{1: 'a', 2: 'b'}],
 [{1, 2, 3, 5}],
 ['a', 'b', 'pwskills', 22, 3, 4, 3.14, 6.67, True, (2+7j)])

In [45]:
def test4(**kwargs):
    return kwargs

In [49]:
test4()

{}

In [50]:
type(test4())

dict

In [51]:
test4(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [53]:
test4(a=1,b=True,c=3.14,d='pwskills',e = [1,2,3,4,55,66],f= (1,2,3,4,5,6),g = {1,2,3,4,55,66},h = {1:'a',2:'b'})

{'a': 1,
 'b': True,
 'c': 3.14,
 'd': 'pwskills',
 'e': [1, 2, 3, 4, 55, 66],
 'f': (1, 2, 3, 4, 5, 6),
 'g': {1, 2, 3, 4, 55, 66},
 'h': {1: 'a', 2: 'b'}}

In [68]:
# Extract list from **kwargs
def test7(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list: 
            return i,kwargs[i]

In [70]:
test7(a=1,b=[2,34,56,67],c=(3,4,5,6),d = [1,2,3,4])

('b', [2, 34, 56, 67])

In [57]:
def test5(*args,**kwargs):
    return args,kwargs

In [59]:
test5(1,2,3,4,5,6,7,8,9,10,a='pwskills',b=3.14)

((1, 2, 3, 4, 5, 6, 7, 8, 9, 10), {'a': 'pwskills', 'b': 3.14})

## Generator Functions

> e.g. range function --> range()

In [71]:
for i in range(10):
    print(i)       # Only generate and give it to user, does not need to store the data

0
1
2
3
4
5
6
7
8
9

> range() is a generator function

In [74]:
list1 = [1,2,3,4,5,6,'pwskills','data science']

In [75]:
def test1(n): 
    lst = []
    for i in n : 
        if type(i) == str:
            lst.append(i)
    return lst

In [77]:
test1(list1)

['pwskills', 'data science']

Fibonacci : 
> 0,1,1,2,3,5,8,13,21,34

1. a = 0 and b = 1
2. a = 1 and b = 1
3. a = 1 and b = 2
4. a = 2 and b = 3
> Fibonacci series till here is the value of a, so we have used the "yield" at "a" only --> 0,1,1,2

In [79]:
def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        yield a 
        a,b = b,a+b

In [80]:
fibonacci(10)

In [81]:
for i in fibonacci(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [83]:
for i in fibonacci(5):
    print(i,end=" ")

0 1 1 2 3

## Lambda Function

In [84]:
# Normal Function
def test(n,p):
    return n**p

In [85]:
test(5,6)

15625

In [86]:
test(9,2)

81

#### Anonymous function or Lambda Function 
> Lambda is a one line function that is immediately invoked or stored in a variable

In [87]:
lambda n,p : n**p

In [88]:
a = lambda n,p : n**p

In [89]:
a(9,2)

81

In [90]:
a(5,6)

15625

In [91]:
add = lambda a,b : a+b

In [92]:
add(345,56)

401

In [93]:
c_to_f = lambda c : (9/5)*c+32 # Converting to temperature

In [94]:
c_to_f(32)

89.6

In [99]:
c_to_f(0)

32.0

In [100]:
max_of_two = lambda x,y : x if x>y else y

In [101]:
max_of_two(56,63)

63

In [103]:
s = 'pwskills'

In [104]:
len_of_str = lambda s : len(s)

In [105]:
len_of_str(s)

8

In [106]:
uppercase = lambda s : s.upper()

In [107]:
uppercase(s)

'PWSKILLS'

## Map,Reduce and Filter Functions

In [113]:
lst = [1,2,3,4,5]

In [115]:
def test(lst):
    l1 = []
    for i in lst : 
        l1.append(i**2)
    return l1

In [116]:
test(lst)

[1, 4, 9, 16, 25]

In [117]:
def test1(lst):
    l1 = []
    for i in lst : 
        i = i**2
        l1.append(i)
    return l1

In [118]:
test1(lst)

[1, 4, 9, 16, 25]

In [119]:
map(i**2,lst)

In [120]:
a = map(i**2,lst)

In [121]:
print(a)

<map object at 0x000001F4D99C1120>

In [122]:
def sq(x):
    return x**2

In [123]:
map(sq,lst)

In [124]:
list(map(sq,lst))

[1, 4, 9, 16, 25]

In [125]:
# Another method
list(map(lambda x : x**2,lst))

[1, 4, 9, 16, 25]

In [126]:
list(map(lambda x : x+10,lst))

[11, 12, 13, 14, 15]

In [127]:
list(map(lambda x : str(x),lst))

['1', '2', '3', '4', '5']

In [128]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

In [129]:
# Add both lists index by index
list(map(lambda x,y : x+y, lst1,lst2))

[7, 9, 11, 13, 15]

In [130]:
f = lambda x,y : x+y

In [131]:
list(map(f,lst1,lst2))

[7, 9, 11, 13, 15]

In [132]:
s = 'pwskills'
# Turn it in uppercase and return in the form of list
list(map(lambda x : x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

## REDUCE

In [133]:
from functools import reduce

In [134]:
reduce(lambda x,y : x+y,lst) # lst = [1,2,3,4,5]

15

In [135]:
s = 'pwskills'
reduce(lambda x : x.upper() ,s)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [136]:
def add(x,y):
    return x+y

In [137]:
reduce(add,lst)

15

In [138]:
reduce(lambda x,y,z : x+y+z,lst)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [139]:
reduce(lambda x,y : x+y,lst)

15

In [140]:
lst1 = [1,2,3,4,5,6]

In [143]:
reduce(lambda x,y : x+y,[])

TypeError: reduce() of empty iterable with no initial value

In [144]:
reduce(lambda x,y : x+y, [1]) # This is an exceptional case

1

In [145]:
reduce(lambda x,y : x*y, [1])

1

In [147]:
print(lst)

[1, 2, 3, 4, 5]

In [148]:
reduce(lambda x,y : x if x>y else y , lst)

5

In [149]:
reduce(lambda x,y : x if x<y else y , lst)

1

## Filter

In [150]:
print(lst)

[1, 2, 3, 4, 5]

In [151]:
filter(lambda x : x%2==0,lst1)

In [153]:
list(filter(lambda x : x%2==0,lst1))

[2, 4, 6]

In [154]:
list(filter(lambda x : x%2!=0,lst1))

[1, 3, 5]

In [155]:
lst = [-2,2,3,-3]

In [157]:
list(filter(lambda x : x>=0,lst))

[2, 3]

In [158]:
list(filter(lambda x : x<0,lst))

[-2, -3]

In [159]:
string = ['sudh','pwskills','kumar','bangalore','krish','naik']

In [160]:
# Give a output string which contains the strings whose length is more than 6

In [161]:
filter(lambda x : len(x) >= 6,string)

In [162]:
list(filter(lambda x : len(x)>=6,string))

['pwskills', 'bangalore']

In [166]:
list(filter(lambda x : len(x)<=6,string))

['sudh', 'kumar', 'krish', 'naik']

In [168]:
list(map(lambda x,y : x+y,lst,lst1))

[-1, 4, 6, 1]

In [169]:
reduce(lambda x,y:x+y,lst)

0

In [171]:
list(filter(lambda x : x%2==0,lst))

[-2, 2]

# SUMMARY

1. Normal Functions with different situations 
    1. without argument without return
    2. without argument with return 
    3. with argument without return
    4. with argument with return 
    
2. Generator functions --> make a user defined function that can be used with only for loop and is very very similar to "range()" function --> It generates the output for every element and returns it immediately

3. Lambda function --> It is also called as anonymous function.Lambda function is a one-line function that is immediately invoked or stored in a variable and the syntax is as follow
> variable_name = lambda parameter:operation you want to perform,iterables

4. Map,Reduce and Filter Function --> 
    1. Map --> list(map(function_name,literals)) --> e.g. list(map(lambda x,y: x+y,lst1,lst2))
    2. Reduce --> reduce(function_name,literals) --> e.g. reduce(lambda x,y : x+y,lst)
    3. Filter --> list(filter(function_name,literals)) --> e.g. list(filter(lambda x:x>=0,lst))