In [1]:
# Dictionary in Python
# Dictionary is unordered collection of key value pairs enclosed with {}
#Dictionary is mutable

d1 = {"Apple" : 100, "banana" : 50, "Tomato" : 20}
print(d1)

{'Apple': 100, 'banana': 50, 'Tomato': 20}

In [2]:
type(d1)

dict

In [3]:
# above key is eg banana and value is 50.

In [4]:
# Extracting keys

In [5]:
d1.keys()

dict_keys(['Apple', 'banana', 'Tomato'])

In [6]:
# Extracting Values

In [7]:
d1.values()

dict_values([100, 50, 20])

In [11]:
# Modifying a Dictionary
# Adding a new element

In [9]:
d1["Mango"] = 300

In [10]:
print(d1)

{'Apple': 100, 'banana': 50, 'Tomato': 20, 'Mango': 300}

In [12]:
# Changing an existing element

In [14]:
d1["Apple"] = 200

In [15]:
print(d1)

{'Apple': 200, 'banana': 50, 'Tomato': 20, 'Mango': 300}

In [16]:
# Dictionary functions

In [17]:
# Update one dictionary's elements with another

In [18]:
d2 = {'Apple' : 200, 'Banana' : 50, 'Cabbage' : 20}
d3 = {'Guava' : 50, 'Pomegranate' : 150, 'Mango' : 250}

In [19]:
d2.update(d3)

In [20]:
print(d2)

{'Apple': 200, 'Banana': 50, 'Cabbage': 20, 'Guava': 50, 'Pomegranate': 150, 'Mango': 250}

In [21]:
d3.update(d2)

In [22]:
print(d3)

{'Guava': 50, 'Pomegranate': 150, 'Mango': 250, 'Apple': 200, 'Banana': 50, 'Cabbage': 20}

In [23]:
d2.update(d3)

In [25]:
print(d2)

{'Apple': 200, 'Banana': 50, 'Cabbage': 20, 'Guava': 50, 'Pomegranate': 150, 'Mango': 250}

In [29]:
print(d3)

{'Guava': 50, 'Pomegranate': 150, 'Mango': 250, 'Apple': 200, 'Banana': 50, 'Cabbage': 20}

In [30]:
d3.pop('Guava')

50

In [31]:
d3

{'Pomegranate': 150, 'Mango': 250, 'Apple': 200, 'Banana': 50, 'Cabbage': 20}

In [5]:
print("-----------------------------")
print('Welcome to SI & CI Calculator')
print("-----------------------------")
print('''1. Simple Interest
2. Compound Interest''')
choose = int(input("Enter your choice between 1, 2 "))
p = int(input("pricipal "))
n = int(input("year "))
r = int(input("ROI"))
if choose == 1:
  SIFormula = (p*n*r)/100
  print("Total Intrest =",SIFormula)
  print("Total Amount you will pay after", n, "years is",p+SIFormula)
elif choose == 2:
  CI = p*(1+r/100)**n
  SI = (p*n*r)/100
  print("Total Interest = ",CI-p)
  print("Total amount you will pay after", n,"years is",CI)
  print("If you are investing money with Simple Interest you will get", SI)
  print("Therefore difference is",CI-(p+SI) )

-----------------------------
Welcome to SI & CI Calculator
-----------------------------
1. Simple Interest
2. Compound Interest
Enter your choice between 1, 2 2
pricipal 10000
year 3
ROI9
Total Interest =  2950.2900000000027
Total amount you will pay after 3 years is 12950.290000000003
If you are investing money with Simple Interest you will get 2700.0
Therefore difference is 250.2900000000027