In [13]:
# Data structures in Python
# Tuples
# It is containing diff types of elemets, like Integer, string 7 logical as below
# tuples are immutable
Tup1 = 1,"a",True
print(Tup1)

(1, 'a', True)

In [8]:
tup2 = (1, 3.14, True, "Yash", (5-7j))

In [11]:
# there are 5 elememts below.
print(tup2)

(1, 3.14, True, 'Yash', (5-7j))

In [12]:
type(tup2)

tuple

In [15]:
type(Tup1)

tuple

In [16]:
print(tup2[0])

1

In [18]:
print(tup2[-1])

(5-7j)

In [19]:
print(tup2[1:4])

(3.14, True, 'Yash')

In [22]:
len(tup2)

5

In [28]:
Tup1 = (1,2,3)
tup2 = (4,5,6)

In [33]:
print(Tup1, tup2)

(1, 2, 3) (4, 5, 6)

In [29]:
# Concatenating tuples
Tup1+tup2

(1, 2, 3, 4, 5, 6)

In [30]:
len(Tup1)

3

In [32]:
len(tup2)

3

In [34]:
print(tup2 + Tup1)

(4, 5, 6, 1, 2, 3)

In [36]:
# repeating tuple elements
y = ("Spartaa", 300)

In [38]:
print(y*5)

('Spartaa', 300, 'Spartaa', 300, 'Spartaa', 300, 'Spartaa', 300, 'Spartaa', 300)

In [39]:
print(y*3 + Tup1 + tup2)

('Spartaa', 300, 'Spartaa', 300, 'Spartaa', 300, 1, 2, 3, 4, 5, 6)

In [44]:
z = (1,2,3,4,5,6,7,8,9)
print(z)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [42]:
# Minimum value
print(min(z))

1

In [43]:
# Maximum value
print(max(z))

9

In [45]:
# List in Python
l1 = [1, "Sparta", 3.14, True]

In [46]:
print(l1)

[1, 'Sparta', 3.14, True]

In [47]:
type(l1)

list

In [48]:
print(l1[1])

Sparta

In [76]:
# As List in Python is Mutable, we can change the elements in List
l2 = [1, "a" ,2, "b", 3, "c"]
print(l2)

[1, 'a', 2, 'b', 3, 'c']

In [77]:
#Changing a element at 0th index
l2[0]= 100

In [78]:
print(l2)

[100, 'a', 2, 'b', 3, 'c']

In [85]:
# Appending a new Element, how much time u run this program it will append same no of time
l2.append("Sparta")

In [86]:
print(l2)

[100, 'a', 2, 'b', 3, 'c', 'Sparta', 'Sparta', 'Sparta', 'Sparta']

In [92]:
#Popping the last element
l2.pop()

'Sparta'

In [93]:
# How many time u run the code for list, that same no of time it will apply the function
print(l2)

[100, 'a', 2, 'b', 3, 'c']

In [97]:
# reverse function
l2.reverse()

In [98]:
print(l2)

['c', 3, 'b', 2, 'a', 100]

In [99]:
# Inserting element at a specified Index
l2.insert(2,'Yash')

In [100]:
print(l2)

['c', 3, 'Yash', 'b', 2, 'a', 100]

In [122]:
l4 = ['yash', 'diksha', 'yashswi', 'sanskar', 'gudhi']
(l4.sort())

In [123]:
print(l4)

['diksha', 'gudhi', 'sanskar', 'yash', 'yashswi']

In [113]:
l3 = ["a", "f", "d", "z", "n"]
print(l3)

['a', 'f', 'd', 'z', 'n']

In [118]:
l3.sort()

In [119]:
print(l3)

['a', 'd', 'f', 'n', 'z']

In [124]:
# Concatenating Lists
l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [125]:
# repeating elements
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]