# Sets

> Set is an unordered collection enclosed in curly brackets

In [2]:
type([])

list

In [3]:
type(())

tuple

In [4]:
type({})

dict

In [5]:
set1 = {1,2,3,4,5,6,6,6,7,7,7,77,89,67,44,99,99}

In [6]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89}

> Set does not allow duplicates

In [7]:
set2 = {1,2,3,4,5,6,6,6,7,7,7,77,89,67,44,99,99,[2,2,3,4]}

TypeError: unhashable type: 'list'

> Set is an unhashable type of object

In [8]:
set3 = {1,2,3,4,5,6,6,6,7,7,7,77,89,67,44,99,99,(2,3,4,5,6,7,8,9,10)}

In [9]:
print(set3)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, (2, 3, 4, 5, 6, 7, 8, 9, 10), 89}

In [13]:
str1 = 'Adipurush : The Movie'

In [14]:
print(str1)

Adipurush : The Movie

In [19]:
str1 = str1.replace('A','a').replace('T','t')

>replace('old','new') is not an in-place operation, it means that until we assign the changes to that original string, the original string remains as it is

In [18]:
str1

'adipurush : the Movie'

In [20]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89}

In [22]:
set1[7]

TypeError: 'set' object is not subscriptable

In [24]:
for i in set1:
    print(i,end = " ")

1 2 3 4 5 6 7 67 99 44 77 89

In [25]:
[i for i in set1]

[1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89]

> If we use list comprehension, the output will always be in the form of list

In [26]:
type([i for i in set1])

list

In [27]:
set1.add(34)

In [28]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 34, 44, 77, 89}

> If we add an element in a set using "add" attribute and if the element is already present in a set, then the element we have added will not be added to the set,because duplicaiton is not allowed in set

In [29]:
set1.clear() # Remove all the elements in a set

In [30]:
print(set1)

set()

In [31]:
set1 = {1,2,3,4,5,6,6,6,7,7,7,77,89,67,44,99,99}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89}

In [32]:
set1.copy()

{1, 2, 3, 4, 5, 6, 7, 44, 67, 77, 89, 99}

In [33]:
set2 = set1.copy() # It stores a shallow copy of a set
print(set2)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89}

In [36]:
set1.add(49)

In [37]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 49, 89}

In [38]:
print(set2)

{1, 2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89}

In [41]:
set1.difference(set2) # Returns disjoint set or more precisely the element which is not in set1 or in the set specified before (.)

{49}

In [44]:
set2.difference_update(set1)

In [46]:
set1

{49}

In [48]:
len(set2)

12

In [49]:
set2.pop()

1

> Set pops the elements from lower to higher or from left to right unlike others

In [50]:
set1.pop()

49

In [51]:
set1.pop()

KeyError: 'pop from an empty set'

In [52]:
print(set2)

{2, 3, 4, 5, 6, 7, 67, 99, 44, 77, 89}